pdfplumber==0.11.1
nltk==3.8.1
torch==1.13.1
scikit-learn==1.5.0
sentence-transformers==3.0.1
numpy==1.26.4
datasets==2.20.0
python-dotenv==1.0.1
gensim==4.3.2
scipy==1.12.0
wikipedia==1.4.0
beautifulsoup4==4.12.3
